@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  --Green-1: #43a047;
  --Green-2: #7cb342;
  --Black-1: #212121;
  --Black-2: #263238;
  --Black-3: #37474f;
  --Red-1: #f4511e;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  background: var(--Black-1);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--Black-1);
}

::-webkit-scrollbar-thumb {
  background: #757575;
  transition: background 0.1s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Green-1);
}
