@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

* {
  --Green-1: #4caf4f;
  --Green-2: #7aaf4c;
  --Black-1: rgba(255, 255, 255, 0.08);
  --Black-2: #121212;
  --Black-3: rgba(255, 255, 255, 0.4);
  --Red-1: #f44336;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  background: var(--Black-1);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--Black-2);
}

::-webkit-scrollbar-thumb {
  background: var(--Black-3);
  transition: background 0.1s ease-out;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Green-1);
}
