.Button {
    width: 20%;
    min-width: 90px;
    max-width: 200px;
    height: 50px;
    cursor: pointer;
    color: white;
    background: none;
    outline: none;
    font-size: 1.2rem;
    font-family: "Play", sans-serif;
    border: 3px solid var(--Green-2);
    transition: all 0.1s ease-out;
    transition-property: background, transform;
    border-radius: 5px;
    &:hover,
    &:focus {
        background: var(--Green-2);
    }
    &:active {
        transform: scale(0.9);
    }
    &::selection {
        background: var(--Green-1);
    }
}
