.ControlPanel {
    display: flex;
    height: 80px;
    background: var(--Black-1);

    align-items: center;
    justify-content: center;
}

#Button_1 {
    margin: 0;
}

#Button_2 {
    margin-left: 30px;
}

#Button_3 {
    margin-left: 30px;
}
