.CopyRightPanel {
    display: flex;
    height: 30px;
    background: var(--Black-1);
    align-items: center;
    justify-content: center;
}

#Text {
    font-size: 0.9rem;
    font-weight: normal;
}
