.Range {
    width: 20%;

    &__Input {
        width: 100%;
        min-width: 120px;
        max-width: 200px;
        height: 4px;
        appearance: none;
        background: var(--Green-1);
        transform: rotate(-180deg);
        border-radius: 100px;
        &::-webkit-slider-thumb {
            appearance: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            background: var(--Green-1);
            border: none;
            border-radius: 50%;
            transition: background 0.1s ease-out;
            transition-property: background, transform;

            &:active {
                transform: scale(0.9);
            }
            &:hover {
                background: var(--Green-2);
            }
        }

        &::-moz-range-thumb {
            appearance: none;
            cursor: pointer;
            width: 20px;
            height: 20px;
            background: var(--Green-1);
            transition: background 0.1s ease-out;
            transition-property: background, transform;
            border: none;
            border-radius: 50%;

            &:active {
                transform: scale(0.9);
            }
            &:hover {
                background: var(--Green-2);
            }
        }
    }

    &__Label {
        position: absolute;
        z-index: -1;
    }
}
